<h1>New Announcement</h1>

<div class="back-button">
  <div class="button">
    <%= link_to :group_page do %>
      <div><i class="material-icons">arrow_back</i></div>
      <div>&nbsp; Back</div>
    <% end %>
  </div>
</div>

<%= form_for @announcement, :url => { :controller => :announcements, :action => :create} do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% @announcement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="new-announcement-form">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit "Create Announcement", class: "button" %>
    </div>
  </div>
<% end %>

