<h1>
  <div id="profile-header">
    <%= image_tag "https://graph.facebook.com/#{@user.uid}/picture?type=square" %>
    <%= @user.name %>
  </div>
</h1>

<%= form_for @profile, :url => { :controller => :profiles, :action => :submit } do |f| %>
<div id="edit-profile-form">
  <% @profile.attributes.each_pair do |name, value| %>
    <% if name != "id"  && name != "availability" %>
      <div>
        <%= f.label name %>
        <%= f.text_field name, class: 'form-control' , :value => value %>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= f.label "Availability" %>
    <div class="time-availability-box">
      <table class="time-availability-table">
       <thead>
          <th>Day</th>
          <th>12:00 AM</th>
          <% (1..11).each do |j| %>
            <th><%= j %>:00 AM</th>
          <% end %>
          <th>12:00 PM</th>
          <% (1..11).each do |j| %>
            <th><%= j %>:00 PM</th>
          <% end %>
        </thead>
        <tbody>
          <% (0..6).each do |i| %>
            <tr>
              <td><%= Date::DAYNAMES[i] %></td>
              <% (0..23).each do |j| %>
              <td>
                <%= hidden_field_tag "hours[#{i*24 + j}]", 0 %>
                <%= check_box_tag "hours[#{i*24 + j}]"%>       
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= f.submit "Save profile", class: "button" %>
</div>
<% end %>
