<h1>
  <div id="profile-header">
    <%= image_tag "https://graph.facebook.com/#{@user.uid}/picture?type=square" %>
    <%= @user.name %>
  </div>
</h1>

<% if current_user && @user == current_user %>
  <div id="profile-edit-button">
    <div class="button">
      <%= link_to edit_profile_path, id: "show-button" do %>
        <div>Edit Profile &nbsp;</div>
        <div><i class="material-icons">create</i></div>
      <% end %>
    </div>
  </div>
<% end %>

<div id="profile-about">
  <div id="profile-about-title">About</div>
  <div id="profile-about-body"> 
    <% @profile.attributes.each_pair do |name, value| %>
      <% if name != "id"  && name != "availability" %>
        <div class="pair">
          <div class="key"><%= name.titleize %></div>
          <div class="value"><%= value %></div>
        </div>
      <% end %>

      <% if name == "availability" %>
        <div class="pair">
          <div class="key"><%= name.titleize %></div>
          <div class="value time-availability-box">
            <table>
            <% (0..6).each do |i| %>
              <tr>
                <td><%= Date::DAYNAMES[i] %></td>
                <td>12:00 AM 
                <%= check_box_tag "", "", @profile.availability[(i*24)] == "1", disabled: true%>       
                </td>
                <% (1..11).each do |j| %>
                  <td><%= j %>:00 AM
                  <%= check_box_tag "", "", @profile.availability[(i*24 + j)] == "1", disabled: true%>
                  </td>
                <% end %>
                <td>12:00 PM
                <%= check_box_tag "", "", @profile.availability[(i*24 + 12)] == "1", disabled: true%>            
                </td>
                <% (1..11).each do |j| %>
                  <td><%= j %>:00 PM
                  <%= check_box_tag "", "", @profile.availability[(i*24 + 12 + j)] == "1", disabled: true%>
                  </td>
                <% end %>
              </tr>
            <% end %>
            </table>
          </div>
        </div>
      <% end %>

    <% end %>

  </div>
</div>

