<% provide(:title, @group.name) %>

<div id="group-header">
  <div id="group-header-container" class="container">
    <div id="group-header-photo">
      <%= image_tag @group.image_url.blank? ? "group.png" : @group.image_url %>
      <div>Change image</div>
    </div>
    <div id="group-header-info">
      <div id="group-header-name">
        <%= @group.name %>
      </div>
      <div id="group-header-location">
        <%= @group.location %>
      </div>
      <div id="group-header-description">
        <%= @group.description %>
      </div>
    </div>
    <div id="group-header-members">
      <span><%= @group.users.length %></span>
      <% if @group.users.length > 1 %>
        <span>Members</span>
      <% else %>
        <span>Member</span>
      <% end %>
    </div>
  </div>
</div>

<div id="image-upload-popup" data-id="<%= @group.id %>">
  <input type="file" id="image-upload-file" accept="image/*">
  <label id="image-upload-file-button" for="image-upload-file" class="button">Select an image</label>
  <div id="image-upload-separator">OR</div>
  <input type="text" id="image-upload-text" placeholder="Enter an image url">
  <div id="image-upload-info">Info</div>
  <div id="image-upload-submit" class="button">Submit</div>
</div>

<div id="group-nav">
  <div class="container">
    <div id="group-nav-bar">
      <% if selected == 'newsfeed' %>
        <div id="group-nav-newsfeed" class="selected">
      <% else %>
        <div id="group-nav-newsfeed">
      <% end %>
        <%= link_to "Newsfeed", :group_page, id: "show-button" %>
      </div>

      <% if selected == 'events' %>
        <div id="group-nav-events" class="selected">
      <% else %>
        <div id="group-nav-events">
      <% end %>
        <%= link_to "Events", :group_events, id: "events-button" %>
      </div>

      <% if selected == 'members' %>
        <div id="group-nav-members" class="selected">
      <% else %>
        <div id="group-nav-members">
      <% end %>
        <%= link_to "Members", :group_members, id: "members-button" %>
      </div>

      <% if selected == 'about' %>
        <div id="group-nav-about" class="selected">
      <% else %>
        <div id="group-nav-about">
      <% end %>
        <%= link_to "About", :group_about, id: "about-button" %>
      </div>

      <% if current_user && @group_admins.include?(current_user) %>
        <% if selected == 'new_event' %>
          <div id="group-nav-create-event" class="selected">
        <% else %>
          <div id="group-nav-create-event">
        <% end %>
          <%= link_to "New Event", "/group/#{@group.id}/new_event", id: "new-event-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
