<% provide(:title, @group.name) %>

<div id="group-header">
  <div id="group-header-container" class="container">
    <div id="group-header-right">
      <div id="group-header-photo">
        <%= image_tag @group.image_url.blank? ? "group_default.png" : @group.image_url %>
        <% if current_user && @group_admins.include?(current_user) %>
          <div>Change image</div>
        <% end %>
      </div>
      <div id="group-header-info">
        <div id="group-header-name">
          <%= @group.name %>
        </div>
        <div id="group-header-location">
          <%= @group.location %>
        </div>
        <div id="group-header-description">
          <%= @group.description %>
        </div>
      </div>
    </div>
    <div id="group-header-left">
      <div id="group-header-members">
        <div><i class="material-icons">person_pin</i></div>
        <div>
          <span><%= @group.users.length %></span>
          <% if @group.users.length > 1 %>
            <span>Members</span>
          <% else %>
            <span>Member</span>
          <% end %>
        </div>
      </div>

      <% if current_user && @group_admins.include?(current_user) %>
        <div id="group-header-edit">
          <div class="button">
            <%= link_to edit_group_path, id: "group-header-edit-button" do %>
              <div>Edit Group &nbsp;</div>
              <div><i class="material-icons">create</i></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if current_user && @group_admins.include?(current_user) %>
  <div id="image-upload-popup" data-id="<%= @group.id %>">
    <input type="file" id="image-upload-file" accept="image/*">
    <label id="image-upload-file-button" for="image-upload-file" class="button">Select an image</label>
    <div id="image-upload-separator">OR</div>
    <input type="text" id="image-upload-text" placeholder="Enter an image url">
    <div id="image-upload-info">Info</div>
    <div id="image-upload-submit" class="button">Submit</div>
  </div>
<% end %>

<div id="group-nav">
  <div class="container">
    <div id="group-nav-bar">
      <% if selected == 'newsfeed' %>
        <div id="group-nav-newsfeed" class="selected">
      <% else %>
        <div id="group-nav-newsfeed">
      <% end %>
        <%= link_to "Newsfeed", :group_page, id: "show-button", class: "group-page-button" %>
      </div>

      <% if selected == 'events' %>
        <div id="group-nav-events" class="selected">
      <% else %>
        <div id="group-nav-events">
      <% end %>
        <%= link_to "Events", :group_events, id: "events-button", class: "group-page-button" %>
      </div>

      <% if selected == 'members' %>
        <div id="group-nav-members" class="selected">
      <% else %>
        <div id="group-nav-members">
      <% end %>
        <%= link_to "Members", :group_members, id: "members-button", class: "group-page-button" %>
      </div>

      <% if selected == 'media' %>
        <div id="group-nav-media" class="selected">
      <% else %>
        <div id="group-nav-media">
      <% end %>
        <%= link_to "Media", :group_media, id: "media-button", class: "group-page-button" %>
      </div>

      <% if selected == 'about' %>
        <div id="group-nav-about" class="selected">
      <% else %>
        <div id="group-nav-about">
      <% end %>
        <%= link_to "About", :group_about, id: "about-button", class: "group-page-button" %>
      </div>
    </div>
  </div>
</div>
