<%= render partial: 'header', locals: {selected: 'events'} %>

<div class="container">
  <h1>Scheduled Events</h1>
  
  <% if current_user && @group_admins.include?(current_user) %>
    <div id="group-events-new-button">
      <div class="button">
        <%= link_to "/group/#{@group.id}/new_event", id: "new-event-button" do %>
          <div>New Event &nbsp;</div>
          <div><i class="material-icons">event</i></div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div id="group-events-results">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Location</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @events.length == 0 %>
          <tr>
            <td colspan="6" style="text-align: center; font-size: 20px; padding: 40px 0;"><i>No Events Scheduled</i></td>
          </tr>
        <% else %>
          <% @events.each do |event| %>
            <tr>
              <td><%= image_tag(event.image, class: "event-thumbnail") unless event.image.blank? %></td>
              <td><%= event.name %></td>
              <td><%= event.description %></td>
              <td><%= event.location %></td>
              <td><%= event.start_datetime.strftime("%B %-d, %Y") unless event.start_datetime.nil? %></td>
              <td><a href="/event/<%= event.id %>"><i class="material-icons">open_in_browser</i></a></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
