<% provide(:title, "Groups") %>
<h1>Groups</h1>

<div id="find-groups-top">
  <div id="find-groups-header">
    <div id="find-groups-title">Find Groups</div>
    <% if current_user %>
      <div class="button">
        <%= link_to "New Group", "/groups/new", id: "new-group-button" %>
      </div>
    <% end %>
  </div>

  <div id="find-groups-search-container">
  <%= form_tag groups_path, :id => 'find-groups-searches', :method => 'get' do %>
    <div id="find-groups-by-name">
      <label>Name</label>
        <%= text_field_tag :name, params[:name], :id => 'search-name-input', placeholder: "Enter Name" %>
    </div>
    <div id="find-groups-by-zip">
      <label>Zip Code</label>
        <%= text_field_tag :zip, params[:zip], :id => 'search-zip-input', placeholder: "Enter Zip" %>
    </div>
    <div id="zip-search-strategy" style="display: none">
      <%= radio_button_tag(:search, "distance") %>
      <%= label_tag(:search_dist, "Search by distance") %>
      <%= radio_button_tag(:search, "time") %>
      <%= label_tag(:search_time, "Search by time") %>
    </div>
    <%= submit_tag "Search", :id => 'search-groups-button', :class => 'button' %>
  <% end %>
  </div>
</div>

<div id="find-groups-results-container">
  <div id="find-groups-results-header">
    <div id="find-groups-results-title">Results</div>
    <div id="find-groups-results-count"><%= @groups.size %> Found</div>
  </div>
  <div id="find-groups-results">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Location</th>
          <% if defined?(@destinations) %>
            <% if @strategy == "distance" %>
              <th>Distance</th>
            <% elsif @strategy == "time" %>
              <th>Duration</th>
            <% end %>
          <% end %>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <td><%= group.description %></td>
            <td><%= group.group_type %></td>
            <td><%= group.location %></td>
            <% if defined?(@destinations) %>
              <% if @strategy == "distance" %>
                <td><%= @destinations.distances[group.location][:text] %> away</td>
              <% elsif @strategy == "time" %>
                <td><%= @destinations.durations[group.location][:text] %> away</td>
              <% end %>
            <% end %>
            <td><a href="/group/<%= group.id %>"><i class="material-icons">open_in_browser</i></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
$("#search-zip-input").keyup(function() {
  if($(this).val()) {
      $("#zip-search-strategy").show();
  } else {
      $("#zip-search-strategy").hide();
  }
})
</script>
