<%= render partial: 'header', locals: {selected: 'members'} %>

<div class="container">

  <% if current_user && @group_admins.include?(current_user) %>
    <div id="pending-applcations">
    <h1>Pending Applications</h1>
        <% @applied_users.each do |user| %>
        <div><%= user.name %></div>
        <!-- reject/accept buttons -->
        <div class='button'>
        <%= link_to accept_application_path(:id => @group.id, :user_id => user.id), method: :post do %>
                Accept
        <% end %>
        </div>

        <div class='button'>
        <%= link_to reject_application_path(:id => @group.id, :user_id => user.id), method: :post do %>
                Reject
        <% end %>
        </div>
        <% end %>
    </div>
  <% end %>

  <div id="group-members">
    <h1>Admins</h1>

    <div class="group-admins-list">
      <% @group_admins.each do |admin| %>
        <div class="group-admin-item">
          <div class="group-admin-profile">
            <div class="group-admin-picture">
              <%= image_tag "https://graph.facebook.com/#{admin.uid}/picture?type=square" %>
            </div>
            <div class="group-admin-name">
              <%= admin.name %>
            </div>
          </div>

          <div class="group-admin-options">
            <div>
              <a href="/profile/<%= admin.uid %>"><i class="material-icons">open_in_browser</i></a>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <h1>Members</h1>

    <div class="group-members-list">
      <% @group_members.each do |member| %>
        <div class="group-member-item">
          <div class="group-member-profile">
            <div class="group-member-picture">
              <%= image_tag "https://graph.facebook.com/#{member.uid}/picture?type=square" %>
            </div>
            <div class="group-member-name">
              <%= member.name %>
            </div>
          </div>

          <div class="group-member-options">
            <% if current_user && @group_admins.include?(current_user) %>
              <div>
                <%= link_to remove_member_path(:id => @group.id, :user_id => member.id), method: :post do %>
                <i class="material-icons">clear</i>
                <% end %>
              </div>
              <div>
                <%= link_to add_admin_path(:id => @group.id, :user_id => member.id), method: :post do %>
                <i class="material-icons">person_add</i>
                <% end %>
              </div>
            <% end %>
            <div>
              <a href="/profile/<%= member.uid %>"><i class="material-icons">open_in_browser</i></a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
