<%= render partial: 'header', locals: {selected: 'newsfeed'} %>

<div id="group-body">
  <div class="container">
    <div class="group-newsfeed">
      <% if !@applied_to_group %>
        <div id="group-newsfeed-apply-button">
          <div class="button">
            <%= link_to "/group/#{@group.id}/apply", id: "apply-to-group-button",  method: :post, remote: true do %>
              <div>Apply to Group &nbsp;</div>
              <div><i class="material-icons">assignment_ind</i></div>
            <% end %>
          </div>
        </div>
      <% end %>
      
      <% if current_user && @group_admins.include?(current_user) %>
        <div id="group-newsfeed-new-button">
          <div class="button">
            <%= link_to :new_announcement, id: "new-announcement-button" do %>
              <div>New Post &nbsp;</div>
              <div><i class="material-icons">create</i></div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% @group_announcements.each do |announcement| %>
        <div class="group-newsfeed-item">
          <div class="group-newsfeed-item-top">
            <div>
              <span class="group-newsfeed-item-title"><%= announcement.title %></span>
              <span class="group-newsfeed-item-date">
                <i>(<%= time_ago_in_words(announcement.created_at) %> ago)</i>
              </span>
            </div>
            <div class="group-newsfeed-item-controls">
              <% if current_user && @group_admins.include?(current_user) %>
                <%= link_to edit_announcement_path(:announcement_id => announcement.id) do %>
                  <i class="material-icons">edit</i>
                <% end %>
                <%= link_to delete_announcement_path(announcement, :group_id => @group.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="material-icons">clear</i>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="group-newsfeed-item-body"><%= announcement.description %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
