<% provide(:title, @group.name) %>

<div id="group-header">
  <div id="group-header-container" class="container">
    <div id="group-header-photo">
      <%= image_tag "group.png" %>
    </div>
    <div id="group-header-info">
      <div id="group-header-name">
        <%= @group.name %>
      </div>
      <div id="group-header-location">
        <%= @group.location %>
      </div>
      <div id="group-header-description">
        <%= @group.description %>
      </div>
    </div>
    <div id="group-header-members">
      <span><%= @group.users.length %></span>
      <% if @group.users.length > 1 %>
        <span>Members</span>
      <% else %>
        <span>Member</span>
      <% end %>
    </div>
  </div>
</div>

<div id="group-nav">
  <div class="container">
    <div id="group-nav-bar">
      <div id="group-nav-newsfeed" class="selected">
        <%= link_to "Newsfeed", :group_page, id: "show-button" %>
      </div>
      <div id="group-nav-events">Events</div>
      <div id="group-nav-members">Members</div>
      <div id="group-nav-about">
        <%= link_to "About", :group_about, id: "about-button" %>
      </div>
      <% if current_user && @group_admins.include?(current_user) %>
        <div id="group-nav-create-event">
          <%= link_to "New Event", "/group/#{@group.id}/newEvent", id: "new-event-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="group-body">
  <div class="container">
    <div class="button">
      <% if !@applied_to_group %>
        <%= link_to "Apply to this group!", "/group/#{@group.id}/apply", id: "apply-to-group-button", method: :post, remote: true %>
      <% end %>
    </div>
    <% if current_user && @group_admins.include?(current_user) %>
        <div class="button">
          <%= link_to "Create Announcement", :new_announcement, id: "new-announcement-button" %>
        </div>
    <% end %>

    <div id="group-members">
      <h1>Admins</h1>
      <% @group_admins.each do |admin| %>
      <div><%= admin.name %></div>
      <% end %>

      <h1>Members</h1>
      <% @group_members.each do |member| %>
      <div><%= member.name %></div>
      <% end %>
    </div>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @group_announcements.each do |announcement| %>
          <tr>
            <td><%= announcement.title %></td>
            <td><%= announcement.description %></td>
            <td><%= link_to 'Edit', edit_announcement_path(:announcement_id => announcement.id) %></td>
            <td><%= link_to 'Destroy', delete_announcement_path(announcement, :group_id => @group.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
