<% provide(:title, "Events") %>
<h1>Events</h1>

<div id="find-events-search-container">
  <div id="find-events-search-title">Find Events</div>
  <div id="find-events-searches">
    <div id="find-events-by-location">
      <label>Zip Code</label>
      <input type="text" id="search-location-input"></input>
    </div>
    <div id="search-events-button" class="button">Search</div>
  </div>
</div>

<div id="find-events-results-container">
  <div id="find-events-results-header">
    <div id="find-events-results-title">Results</div>
    <div id="find-events-results-count"><%= @events.size %> Found</div>
  </div>
  <div id="find-events-results">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Location</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.description %></td>
            <td><%= event.location %></td>
            <td><%= event.start_datetime.to_date unless event.start_datetime.nil? %></td>
            <td><a href="/event/<%= event.id %>"><i class="material-icons">open_in_browser</i></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
