<%= render partial: './groups/header', locals: {selected: 'new_event'} %>

<div class="container">
  <h1>Create New Event</h1>

  <%= form_for @event, :url => { :controller => :events, :action => :submit} do |f| %>
    <div id="new-event-form">
      <div class="form-group">
        <div class="label">
          <%= f.label :name %>
        </div>
        <div class="value">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <%= f.label :location, "Zip code" %>
        </div>
        <div class="value">
          <%= f.text_field :location, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <%= f.label :start_datetime %>
        </div>
        <div class="value">
          <%= datetime_select :event, :start_datetime %>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <%= f.label :end_datetime %>
        </div>
        <div class="value">
          <%= datetime_select :event, :end_datetime %>
        </div>
      </div>
      <div>
        Scheduling Assistant: Here is how many of your group members are available at each time based upon the availabilities selected in their profiles.
      </div>
      <div class="time-availability-box">
        <table class="time-availability-table">
          <thead>
            <th>Day</th>
            <th>12:00 AM</th>
            <% (1..11).each do |j| %>
              <th><%= j %>:00 AM</th>
            <% end %>
            <th>12:00 PM</th>
            <% (1..11).each do |j| %>
              <th><%= j %>:00 PM</th>
            <% end %>
          </thead>
          <tbody>
          <% (0..6).each do |i| %>
            <tr>
              <td><%= Date::DAYNAMES[i] %></td>
              <% (0..23).each do |j| %>
                <td>
                    <%= @group_availability[i*24 + j] %>
                </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <div class="label">
          <%= f.label :description %>
        </div>
        <div class="value">
          <%= f.text_area :description, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <%= f.label :image %>
        </div>
        <div class="value">
          <%= f.text_field :image, class: 'form-control' %>
        </div>
      </div>
      <div class="button-container">
        <%= f.submit "Create Event", class: "button" %>
      </div>
    </div>
  <% end %>
</div>