<% provide(:title, @event.name) %>

<h1> <%= @event.name %> </h1>
<div>
  <%= (image_tag @event.image, class: "event-image") unless @event.image.blank? %>
  <div class="event-subtitle"> Location:
    <span class="event-data"> <%= @event.location %> </span>
  </div>
  <% if @event.start_datetime %>
    <div class="event-subtitle"> Start:
      <span class="event-data"> <%= @event.start_datetime.strftime("%B %-d, %Y, %l:%M%p") %> </span>
    </div>
  <% end %>
  <% if @event.end_datetime %>
    <div class="event-subtitle"> End:
      <span class="event-data"> <%= @event.end_datetime.strftime("%B %-d, %Y, %l:%M%p") %> </span>
    </div>
  <% end %>
  <div class="event-subtitle"> Description </div>
  <div class="event-data"> <%= @event.description %> </div>
  <div class="event-subtitle"> Hosted By </div>
  <% @event.groups.each do |group| %>
  	<div class="event-data"> <%= group.name %> </div>
  <% end %>
  <div class="event-subtitle"> People Going </div>
  <% @event.users.each do |user| %>
    <div class="event-data"> <%= user.name %> </div>
  <% end %>
  <%=
    if current_user
      if @event.users.include?(current_user)
        button_to 'Leave Event', '/event/remove_user', params: { event_id: @event.id }
      else
        button_to 'Join Event', '/event/add_user', params: { event_id: @event.id }
      end
    end
  %>
</div>