<% provide(:title, @event.name) %>

<h1> <%= @event.name %> </h1>
<div>
  <div class="event-subtitle"> Location:
    <span class="event-data"> <%= @event.location %> </span>
  </div>
  <div class="event-subtitle"> Start:
    <span class="event-data"> <%= @event.start_datetime %> </span>
  </div>
  <div class="event-subtitle"> End:
    <span class="event-data"> <%= @event.end_datetime %> </span>
  </div>
  <div class="event-subtitle"> Description </div>
  <div class="event-data"> <%= @event.description %> </div>
  <div class="event-subtitle"> Hosted By </div>
  <% @event.groups.each do |group| %>
  	<div class="event-data"> <%= group.name %> </div>
  <% end %>
</div>